# BinaryGap

## Task

A binary gap within a positive integer N is any maximal sequence of consecutive zeros that is surrounded by ones at both ends in the binary representation of N.

For example, number 9 has binary representation 1001 and contains a binary gap of length 2. The number 529 has binary representation 1000010001 and contains two binary gaps: one of length 4 and one of length 3. The number 20 has binary representation 10100 and contains one binary gap of length 1. The number 15 has binary representation 1111 and has no binary gaps. The number 32 has binary representation 100000 and has no binary gaps.

Write a function:

def solution(N)

that, given a positive integer N, returns the length of its longest binary gap. The function should return 0 if N doesn't contain a binary gap.

For example, given N = 1041 the function should return 5, because N has binary representation 10000010001 and so its longest binary gap is of length 5. Given N = 32 the function should return 0, because N has binary representation '100000' and thus no binary gaps.

Write an efficient algorithm for the following assumptions:

N is an integer within the range [1..2,147,483,647].

## Solution

In [1]:
def solution(N):
    # Implement your solution here
    
    bin_number = bin(N)[2:]
    count = bin_number.count('1')

    if count < 2:
        return(int(0))

    else:
        bin_list = bin_number.split('1')
        
        if bin_number[-1] == '0':
            bin_list = bin_list[:-1]

        longest = ''
        for i in bin_list:
            if len(i) > len(longest):
                longest = i

        if longest == '':
            return(int(0))

        else:
            return(int(len(longest)))

## Test

In [2]:
import pandas as pd

def test(li):
    
    df = pd.DataFrame(columns = ['N', 'bin(N)', 'solution(N)'])
    for i in li:
        row = [i, bin(i)[2:], solution(i)]
        df.loc[len(df)] = row
    
    return(df)

In [3]:
example = [1041, 15, 32]

test(example)

      N       bin(N)  solution(N)
0  1041  10000010001            5
1    15         1111            0
2    32       100000            0

In [4]:
correctness = [
    1, 5, 2147483647,
    6, 328,
    5, 16, 1024,
    9, 11,
    19, 42,
    1162, 5,
    51712, 20,
    561892, 9,
    66561,
    6291457,
    74901729,
    805306373,
    1376796946,
    1073741825,
    1610612737
]

test(correctness)

             N                           bin(N)  solution(N)
0            1                                1            0
1            5                              101            1
2   2147483647  1111111111111111111111111111111            0
3            6                              110            0
4          328                        101001000            2
5            5                              101            1
6           16                            10000            0
7         1024                      10000000000            0
8            9                             1001            2
9           11                             1011            1
10          19                            10011            2
11          42                           101010            1
12        1162                      10010001010            3
13           5                              101            1
14       51712                 1100101000000000            2
15          20                            10100            1
16      561892             10001001001011100100            3
17           9                             1001            2
18       66561                10000010000000001            9
19     6291457          11000000000000000000001           20
20    74901729      100011101101110100011100001            4
21   805306373   110000000000000000000000000101           25
22  1376796946  1010010000100000100000100010010            5
23  1073741825  1000000000000000000000000000001           29
24  1610612737  1100000000000000000000000000001           28